[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/forletta/nvim-config.git
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
